.icon-group {
  right: 5%;
  bottom: 50%;
  position: absolute;
  transform: translateY(50%);
  width: 30%;
  max-height: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;

  .brand-icon {
    width: 80px;
    height: auto;
  }
  .sass {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 1.7s;
  }

  .css {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.1s;
  }
  .react {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.1s;
  }
  .npm {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.1s;
  }
  .vsCode {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.1s;
  }
  .html {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.5s;
  }
  .js {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.5s;
  }
  .bootstrap {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.5s;
  }
  .figma {
    height: 80px;
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2.5s;
  }
}

.skills-name {
  color: #ea5455;
  font-weight: 700;
}
@media only screen and (max-width: 850px) {
  .icon-group {
    top: 90% !important;
    width: 85% !important;
    left: 12% !important;
  }
}
