.nav-bar {
  background-color: #181818;
  width: 80px;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 3;
  .hamburger-link {
    opacity: 0;
  }

  .logo {
    display: block;
    margin: -10px 0 0 0;
    padding: 5px 0;

    img {
      display: block;
      margin-left: -45px;
      width: 170px;
      height: auto;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    height: 250px;
    margin-top: -90px;
    width: 100%;

    a {
      font-size: 24px;
      color: #4d4d4e;
      display: block;
      line-height: 50px;
      height: 50px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: white;

        svg {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: "";
        font-size: 10px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &:after {
          content: "Home";
        }
      }
    }
    a.about-link {
      &:after {
        content: "About";
      }
    }
    a.skills-link {
      &:after {
        content: "Skills";
      }
    }
    a.myworks-link {
      &:after {
        content: "MyWork";
      }
    }
    a.contact-link {
      &:after {
        content: "Contact";
      }
    }
    a.hamburger-link {
      &::after {
        content: "Menu";
      }
    }
    a.active {
      svg {
        color: white;
      }
      color: white;
    }
  }
}

@media only screen and (max-width: 850px) {
  .nav-bar {
    background-color: #181818;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 3;
    .hamburger-link {
      opacity: 1 !important;
      z-index: 2;
      font-size: 35px;
      display: block;
      position: absolute;
      top: 10px !important;
      right: 2% !important;
      display: inline !important;
    }

    img {
      position: absolute;
      z-index: 1;
      top: -5px !important;
      left: 25px !important;
      width: 80px !important;
      height: auto;
      display: inline !important;
    }
    > nav {
      background: #181818;
      opacity: 0.95;
      top: 20%;
      width: 100%;
      height: auto;
      padding: 5% 0;
      position: fixed;

      a {
        line-height: 30px;
        height: 30px !important;
        padding: 5px 15% !important;

        &:after {
          opacity: 1;
          font-size: 12px;
          font-weight: 600;
          padding-right: 30px !important;
          position: absolute;
          top: 16%;
          left: -10%;
          display: inline;
          width: 100%;
        }
      }
    }
  }
}
