.sketch {
  position: absolute;
  left: 45%;
  top: 2%;
  width: 180px;
  height: auto;
  border-radius: 90px;
  z-index: 2;
  opacity: 0;
  animation: backInRight 2s 1.6s;
  animation-fill-mode: forwards;
}

.pic-back {
  position: absolute;
  width: 450px;
  height: auto;
  right: 5%;
  bottom: 10%;
  z-index: -1;
  opacity: 0;
  animation: backInRight 2s 1.2s;
  animation-fill-mode: forwards;
}
@media only screen and (max-width: 850px) {
  .pic-back {
    display: none;
  }
  .sketch {
    position: absolute;
    width: 25% !important;
    top: 5% !important;
    left: 70% !important;
  }
}
