.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 600px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  .text-side {
    left: 12%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    // font-family: DentonTest-Thin;
    //font-family: CotfordDisplay-XBold;
    font-family: BodoniFLF-Roman;
    letter-spacing: -1px;
    font-size: 75px;
    color: #ea5455;
  }
  h2 {
    font-weight: 300;
    font-size: 32px;
  }
}
// .logo-faded {
//   width: 1600px;
//   height: auto;
//   position: absolute;
//   left: -5%;
//   top: -15%;
//   bottom: auto;
//   opacity: 0.3;
//   z-index: 0;
// }

@media only screen and (max-width: 850px) {
  .text-side {
    width: 100% !important;
    left: 5% !important;
  }
}
