.logo-container {
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 600px;
  z-index: -1;
  opacity: 0.8;

  svg {
    position: absolute;
    right: -70%;
    left: auto;
    top: 10%;
    bottom: 0;
    animation: fadeIn 4s forwards;
  }

  .logo-group {
    .logo-line {
      position: absolute;
      right: -5%;
      left: auto;
      top: -5%;
      bottom: 0;
      width: 700px;
      height: auto;
      opacity: 0;
      animation: fadeIn 4s forwards;
    }
    .logo-L {
      position: absolute;
      right: -5%;
      left: auto;
      top: -5%;
      bottom: 0;
      width: 700px;
      height: auto;
      opacity: 0;
      animation: fadeIn 4s forwards;
    }
    .logo-S {
      position: absolute;
      right: -5%;
      left: auto;
      top: -5%;
      bottom: 0;
      width: 700px;
      height: auto;
      opacity: 0;
      animation: fadeIn 4s forwards;
    }
  }
}

@media only screen and (max-width: 800px) {
  .logo-container {
    display: none;
  }
}
