.contact-form {
  width: 100%;
  padding: 20px 20px 10px 20px;
  margin: 10px 0;
  border-radius: 3px;
  background-color: #3f3d56;
  // border: 1px solid white;
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      opacity: 0;
      animation: fadeIn 2s 2s;
      animation-fill-mode: forwards;
    }

    li.contact-info {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child:first-child {
        margin-left: 0;
      }
    }
  }
}
input[type="text"],
input[type="email"] {
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 50px;
  font-size: 16px;
  padding: 0 20px;
  box-sizing: border-box;
  background: #ebe7e7;
}
textarea {
  width: 100%;
  border: none;
  border-radius: 3px;
  min-height: 150px;
  font-size: 16px;
  padding: 0 20px;
  box-sizing: border-box;
  background: #ebe7e7;
  font-family: FuturaBT-Book;
}
.submit-button {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 3px;
  background: none;
  float: right;
  padding: 10px 15px;
  transition: 400ms ease-in-out;
}
.submit-button:hover {
  color: #3f3d56;
  background-color: white;
}
.social-media {
  position: absolute;
  top: 2%;
  left: 60%;
  width: 450px;
  height: 250px;
  background-color: #ea5455;
  color: white;
  border-radius: 3px;
  z-index: 1;
  opacity: 0;
  animation: backInRight 2s 1.2s;
  animation-fill-mode: forwards;
  h2 {
    font-size: 35px;
    font-weight: 800;
    padding: 15px 50px 0 50px;
  }
  .icons-group {
    position: relative;
    bottom: 0;
    font-size: 50px;
    text-align: center;
    .icon {
      padding: 0 25px;
    }
  }
}
.discord:hover {
  &:after {
    opacity: 1;
  }
}
.discord {
  &:after {
    content: "Discord : StephanieLah#6274";
    padding: 10px;
    width: 250px !important;
    background-color: white;
    border: 1px solid #ea5455;
    border-radius: 3px;
    color: #ea5455;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: -80%;
    left: 45%;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;

    // -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

.email-pic {
  width: 350px;
  height: auto;
  z-index: -1;
  position: absolute;
  bottom: -5%;
  right: 5%;
}
@media only screen and (max-width: 850px) {
  .email-pic {
    display: none;
  }
  .social-media {
    position: absolute;
    left: 5% !important;
    top: 110% !important;
    display: block !important;
    width: 95% !important;
  }
}
