body {
  margin: 0;
  font-family: FuturaBT-Book, Lato-Regular, Montserrat-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fffcea; */
  /* background-color: #f2ebe3; */
  background-color: #ebe7e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 850px) {
  body {
    overflow: visible;
  }
}
