.contact-button {
  color: #ea5455;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  margin: 50px 0;
  padding: 10px 20px;
  border: solid 2px #ea5455;
  transition: 400ms ease-in-out;
}
.contact-button:hover {
  color: white;
  background-color: #ea5455;
}
h4 {
  opacity: 0.7;
  font-weight: 600;
}
